@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #004661;
    color: white;
    padding: 10px 20px;
    position: relative;
    z-index: 2000;
}

.nav-left, .nav-right {
    display: flex;
    gap: 50px;
}

.nav-left a, .nav-right a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    transition: color 0.3s ease;
}

.nav-left a:hover, .nav-right a:hover {
    color: #f0c13e;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    height: 30vh;
}

header .menu-icon {
    font-size: 2rem;
    cursor: pointer;
    display: none;
    margin-left: auto;
}

header .mobile-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #004661;
    color: white;
    padding: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 999;
}

header .mobile-menu.active {
    display: flex;
}

.mobile-menu a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    margin: 10px 0;
}

.mobile-menu a:hover {
    color: #f0c13e;
}

@media (max-width: 768px) {
    .nav-left, .nav-right {
        display: none;
    }

    header .menu-icon {
        display: block;
    }

    .logo img{
        height: 25vh;
    }
}

@media (max-width: 1024px) {
    header {
        padding: 10px 15px; /* Reduce el padding horizontal */
        justify-content: space-between; /* Ajusta la distribución del contenido */
    }

    .nav-left, .nav-right {
        gap: 20px; /* Reduce el espacio entre los enlaces */
    }

    .nav-left a, .nav-right a {
        font-size: 1rem; /* Disminuye ligeramente el tamaño de la fuente */
    }

    .logo img {
        height: 20vh; /* Ajusta la altura del logo para pantallas medianas */
    }

    header .menu-icon {
        font-size: 1.8rem; /* Ajusta el tamaño del icono de menú */
    }
}



