@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.about {
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
    padding: 40px 90px;
    max-width: 800px;
}

.about h1 {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.about h2 {
    font-size: 2em;
    color: #FFAF00; /* Color naranja para los títulos */
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: left;
}

.about p{
    text-align: justify;
}

.about h3 {
    font-size: 1.8em;
    color: #004661;
    text-align: center;
    margin-bottom: 10px;
}

/* Section Styles */
.mision, .vision {
    text-align: left;
    margin-bottom: 20px;
}

.pilares {
    margin-top: 40px;
}

.divisionPilares {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.division-1, .division-2 {
    flex: 1;
    text-align: left;
}

.division-2{
    border-left: 5px solid #FFAF00;
    padding-left: 20px;
}

ol {
    padding-left: 20px;
}

ol li {
    margin-bottom: 10px;
    text-align: justify;
}

ol li b {
    color: #004661; /* Azul para los textos destacados */
}

.logosDepartamento{
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
}

.logosDepartamento a{
    text-decoration: none;
    color: black;
}

.logos-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logosDepartamento p{
    text-align: center;
    margin-top: 30px;
}

.logosDepartamento p:hover{
    text-decoration: underline;
}

.logos-card .logo-unicauca{
    width: 220px;
    max-width: 100%;
    height: auto;
    max-height: auto;
}

.logos-card .letra-unicauca{
    margin-top: 15px;
}

.logosDepartamento img{
    width: 220px;
    max-width: 100%;
    height: 200px;
    max-height: 100%;
    object-fit: cover;
}

/* Responsive Design */
@media (max-width: 768px) {
    .divisionPilares {
        flex-direction: column;
    }

    .about {
        padding: 40px 45px;
        max-width: 800px;
    }

    .about h1 {
        text-align: center;
    }

    .division-2{
        border-top: 5px solid #FFAF00;
        padding-top: 20px;
        border-left:none;
        padding-left: 0;
    }

    .logosDepartamento{
        margin-top: 30px;
        padding: 30px 0;
        justify-content: center;
        gap: 50px;
    }
}
