@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Licorice&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* General */
.dashboard{
    display: flex;
}

@media (max-width: 768px) {
    .dashboard {
        flex-direction: column;
    }
}


/* ------------------------------ Main Content ------------------------------ */
.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    flex: 1;
    background-color: #D9D9D9;
    padding: 30px;
    overflow-y: auto;
    text-align: center;
}

.main-content h1 {
    font-size: 2rem;
    font-weight: 900;
    color: #004661;
    margin-bottom: 20px;
}

.main-content p {
    font-size: 1.3rem;
    color: black;
    margin-bottom: 30px;
}

.resources {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas */
    column-gap: 10px;
    row-gap: 30px; /* Espaciado entre los bloques */
    justify-items: center; /* Centra horizontalmente cada item */
    max-width: 700px; /* Ancho máximo del contenedor */
}

.resource-item {
    text-decoration: none;
    background-color: #FFBE30; /* Fondo gris */
    color: #333; /* Color de texto oscuro */
    padding: 0 20px;
    border-radius: 10px; /* Bordes redondeados */
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    width: 70%; /* Asegura que ocupen el ancho de la columna */
    height: 120px; /* Altura fija */
    display: flex;
    align-items: center; /* Centra verticalmente el contenido */
    justify-content: center; /* Centra horizontalmente el contenido */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para separar visualmente */
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.resource-item:hover {
    background-color: #004661; /* Fondo más oscuro al pasar el mouse */
    color: white;
    transform: translateY(-5px); /* Efecto flotante al pasar el mouse */
}

/* ------------------------------ Media Queries ------------------------------ */
@media (max-width: 768px) {
    .dashboard {
        flex-direction: column;
    }

    .resources {
        grid-template-columns: repeat(1, 1fr); /* 2 columnas en pantallas pequeñas */
        max-width: 100%; /* El contenedor ocupa todo el ancho disponible */
    }


    .main-content {
        padding: 50px 20px; /* Reducir el padding en pantallas pequeñas */
    }

    .main-content h1 {
        font-size: 1.5rem; /* Reduce el tamaño del título */
    }

    .main-content p {
        font-size: 1.1rem; /* Reduce el tamaño del párrafo */
    }
}

